<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @list.photo.key %>');">
  <div class="container">
    <h1>New bookmark</h1>
  </div>
</div>
<br>
<div class="container">
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.association :movie %>
    <%= f.input :comment %>
    <%= f.submit "Submit bookmark", class: "btn btn-light" %>
  <% end %>
</div>
